input#search {
  margin-left: 40%;
  margin-top: 2%;
}

hr.ruler {
  margin-top: 2%;
}

div#search-results {
  border: 2px solid gray;
  margin: 2%;
  overflow: hidden;
}

div#search-results div.search-result {
  float: left;
  margin: 1%;
  border: 1px solid black;
  min-width: 130px;
}

div.search-result span {
  margin: 5%;
}

div.search-result hr {
  margin-top: 2%;
}

div.search-result p {
  margin: 2px;
}

div.search-result img {
  padding: 0 0 20px 25%;
}
